button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: .3em;
    /* background-color: transparent; */
}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: #000;
    border-radius: 1em;
    padding: 1em;
}

.orange {
    background-color: #ff9500;
    color: white;
}

.gray {
    background-color: #505050;
    color: white;
}

.result {
    color: white;
    text-align: right;
    margin-right: .5em;
    font-size: 3.5em;
    font-weight: 400;
}